<p>
	<span style="color: gray;"><%= answer.content %></span>
	<br>
	by <font color="blue"><%= answer.user.email %></font>
	<% if can? :destroy, answer%>
		<%= link_to "Delete", question_answer_path(answer.question, answer), method: :delete , :style => "color: gray;" %>
	<% end %>
</p>