<p>
	<%= answer.content %> <br>
	by <font color="blue"><%= answer.user.email %></font>
	<% if can? :destroy, answer%>
		<%= link_to "Delete", question_answer_path(answer.question, answer), method: :delete%>
	<% end %>
</p>