<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tour.user_id %>
</p>

<p>
  <strong>Travel:</strong>
  <%= @tour.travel_id %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
