/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */
.sign_in {
	border: 1px solid;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    font-weight: bold;
    float: left;
}

.sign_up {
	border: 1px solid;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    margin-left: 10px;
}

.welcome_title {
    border-radius: 5px;
    width: auto;
    text-align: center;
    font-weight: bold;
    float: left;
}

.button_linkto {
    border: 1px solid;
    border-radius: 5px;
    width: auto;
    text-align: center;
    font-weight: bold;
    display: table-cell;
}

.search_tour{
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search_tour:focus {
  width: 50%;
}

.login form {border: 3px solid #f1f1f1;}

.login input[type=text], .login input[type=email],.login  input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login #error_explanation {
  margin: auto !important;
}

.login .field_with_errors {
  width: 100%;
}

.login input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login input[type=submit]:hover {
  opacity: 0.8;
}

.login .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.login .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.login img.avatar {
  width: 10%;
  border-radius: 50%;
}

.login .container {
  padding: 16px;
}

.login span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .login span.psw {
     display: block;
     float: none;
  }
  .login .cancelbtn {
     width: 100%;
  }
}