/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */
.sign_in {
	border: 1px solid;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    font-weight: bold;
    float: left;
}

.sign_up {
	border: 1px solid;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    margin-left: 10px;
}

.welcome_title {
    border-radius: 5px;
    width: auto;
    text-align: center;
    font-weight: bold;
    float: left;
}

.button_linkto {
    border: 1px solid;
    border-radius: 5px;
    width: auto;
    text-align: center;
    font-weight: bold;
    display: table-cell;
}

.search_tour{
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search_tour:focus {
  width: 50%;
}